@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.9);
  }

  75% {
    box-shadow: 0 0 0 2.5rem rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.hover-shadow-animate:hover {
  animation: shadow 2s infinite ;
}


@tailwind base;
@tailwind components;
@tailwind utilities;